<footer class="footer-tag rounded">
    <div class="d-lg-flex justify-content-between">
      <div class="avatar">
        <img src="../../../assets/pics/Balidan.webp" alt="" class="rounded-circle" >
      </div>
      <!-- <div class="copyright">
        <p>developed and maintained by <a href="#" target="_blank">company</a></p>
      </div> -->
      <div>
        <span>Follow me on</span>
        <ul class="d-flex gap-3 list-unstyled">
          <li><a href="https://www.facebook.com/dhananjaya.balamakar.7?mibextid=ZbWKwL" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></li>
          <li><a href="https://www.linkedin.com/in/dhananjaya-balamakar-67906b195/" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
          <li><a href="https://www.instagram.com/being_dhananjayb?igsh=MXY3ajU0b2ZueXlzZg==" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UCd5lGEUTEsGMFt_7O76jabQ" target="_blank"><i class="fa fa-brands fa-youtube fa-2x" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>
