<div class="container-fluid">
    <!-- carousel -->
    <div class="row m-3 mt-0 mb-0">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="../../../assets/pics/DSCN9773.JPG.jpeg" class="d-block w-100 images-css" alt="First-image">
                <div class="carousel-caption d-none d-md-block">
                  <h2 class="carousel-titles">Dhananjay Balamakar</h2>
                  <p class="carousel-description">Software Engineer(Dotnet full stack developer)</p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="../../../assets/pics/DSCN9779.JPG.jpeg" class="d-block w-100 images-css" alt="second-image" >
                <div class="carousel-caption d-none d-md-block">
                  <h2  class="carousel-titles">Contact me!!!</h2>
                  <p class="carousel-description">Contact me using my email or social media!!!</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../../../assets/pics/DSC02974.JPG" class="d-block w-100 images-css" alt="third-image" >
                <div class="carousel-caption d-none d-md-block">
                  <h3 class="carousel-titles">Hire me!!!</h3>
                  <p class="carousel-description">Hire me as full stack developer as i am having Proven IT Professional with 4 plus years of experience. Proficient in .NET and SQL with demonstrated ‘hands-on’ ability in delivering projects using Visual studio, VS code, SQL Server and Provide effective communications and develop long-term client relationships.</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div >
    <div class="row m-3 mt-0 mb-0">
        <div class="contents">
            <h1>Content on the way!!!</h1>
        </div>
    </div>
</div>
